snippet comp "A new ember component" b
\`import Ember from "ember"\`

${1:Component} = Ember.Component.extend
  $2	

\`export default $1\`
endsnippet

snippet init "A new ember initializer" b
Initializer =
  name: '$1'

  initialize: (app) ->
    $2

\`export default Initializer\`
endsnippet

snippet serv "A new ember initializer" b
\`import Ember from "ember"\`

${1:Service} = Ember.Service.extend
  $2

\`export default $1\`
endsnippet
