snippet path "Create a link with an RGen path"
[${1:text}](<%= path "${2:path}" %>)
endsnippet

snippet text "Add a text block" b
~~~text
$1
~~~

$0
endsnippet

snippet ruby "Add a ruby block" b
~~~ruby
$1
~~~

$0
endsnippet
